
.App{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.card {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cdcdcd;
  font-size: small;
  border-radius: 20px;
}

.box {
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: small;
  background-color:blue;
  border-radius: 20px;
}